#cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

#c++
*.a
*.o

#CLion
*.xml
*.iml
*.cbp

#Linux
*.swp
